<!-- Navbar -->

<!-- header.component.html -->

<nav>
  <div class="nav-scroll">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/testimonial" routerLinkActive="active">Testimonials</a></li>
      <li><a routerLink="/newsletter" routerLinkActive="active">Newsletter</a></li>
    </ul>
  </div>
</nav>



<!-- Main Content -->
<router-outlet></router-outlet>