<!-- Navbar -->

<!-- header.component.html -->

<nav>
  <div>
    <img src="assets/images/logo4.png" class="logo" alt="Purandhar Logo" />
  </div>
  <div class="nav-scroll">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/testimonial" routerLinkActive="active">Testimonials</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
      <li><a routerLink="/newsletter" routerLinkActive="active">Newsletter</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>

<!-- Main Content -->
<router-outlet></router-outlet>